body {
    background-color: black;
    background-image: url(images/4357971.jpg)
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 190px;
    width: 190x;
    text-align: center;
}

nav {
    text-align: center;

}

main {
    height: 480px;
    text-align: center;
    padding-top: 80px;
    padding-left: 24px;
    padding-right: 24px;
}

footer {
    /* background-color: rgba(255, 166, 0, 0.486); */
    height: 60px;
    width: 1024px;
    border-radius: 4px;
    position: relative; bottom: 90px;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: larger;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

#social{
    display: -moz-grid-line;
    margin: auto;
    text-decoration: none;
    position: relative;bottom:auto;left: 400px;
    padding: 12px;
}