#logo{
    display: fixed;
    /* background-color: aliceblue; */
}

nav{
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 8px;
    display: flex;
    
}

a {
  text-decoration: none;
  color: black;
  padding: 4px;
  font-size: larger;
  margin: 4px;
}


body{
     background-image: url(./image/nav-back.jpeg);
     background-size: cover;
     background-repeat:none;
     
}

/* search-bar position */
.search-bar{
    position: relative;
    left: 600px;
}